$navcolor : #4FBDBA;
$fontnavcolor: #45955C;
$activecolor: yellowgreen;
$bannercolor: #53AD9D;
$btn-color: #55CBF0;
$btn-details: #25BB85;
$newarrivals : #B1E8DE;
$newarrivalsbrand: #585555;
$topnavmenu : #3CA7A4;
$newarrivalsfonttitle : #514E4E;
$linecolor: #514E4E;
$benefitscolor: #2FB685;
$footercolor : #25ABA7;
$categories: #8DC0B7;
$carts: #96CEB4;
$box: #2e8b60;